@import '../base/variables';

@media print {
  @page {
    size: A4 landscape;
    // size: A4;
    margin: 0;
    padding: 0;
  }

  .no-print {
    display: none !important;
  }

  .table-scroll {
    overflow: visible !important;
    height: auto !important;
  }

  .table-container {

    table tbody td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    table tbody td:nth-of-type(2) {
      max-width: 20em;
    }

    table tbody td:nth-of-type(3),
    table tbody td:nth-of-type(4) {
      max-width: 12em;
    }
  }
}